<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>StreamData</title>
</head>
<body>
<h1 id="streamdata">StreamData</h1>
<p>Stream Data is a REST API that allows applications to retrieve a list of legal stream URLs for a given title. Database loading script and a Flask based REST API sever is written in Python.</p>
<p>The app uses legal stream link data <a href="https://because.moe">Because.moe</a>. The difference is that the whole stream data does not need to be downloaded completely and only need to retreive what you need. You will be able to use the title or MyAnimeList ID to look up links for a given title.</p>
<p>StreamData only supports Python 3 and is <a href="https://github.com/Atelier-Shiori/StreamData">Open Sourced</a>. </p>
<h1 id="why-streamdata-">Why StreamData?</h1>
<p>Providing stream links to your applications allows users to find where to watch a given show through legal streaming. Illegal/Pirated streams hurts the creators and animation studios that make an anime production possible. StreamData only provides legal sources where you can watch a given title (e.g. Crunchyroll, Funimation, Amazon, HiDive, etc) and not illegal sources.</p>
<p>This API enables you to obtain links where the user can watch a show legally through your app for a given title. StreamData only supports the following regions: United States, Canada, United Kingdom and Australia.</p>
<p>StreamData is a free service and you do not need to be an active Patron to use it. If you want to help us keep the service running, feel free to <a href="https://www.patreon.com/join/malupdaterosx">become a Patron</a> for as little as $1 a month.</p>
<h1 id="how-does-streamdata-works-">How does StreamData works?</h1>
<p>StreamData uses two different scripts. load.py is the script that is set to run as a cron job that refreshes the data in the database on a DBMS running MySQL/MariaDB. It performs some ETL (Extract, Transform, and Load). It downloads the stream data from the provider, load it to a staging table. The data is transformed and loaded to the data model.</p>
<p>The frontend provides the rest API, allowing the user&#39;s apps to obtain stream data by title or MyAnimeList title id.</p>
<h1 id="how-to-use-the-api">How to use the API</h1>
<h2 id="api-endpoints">API Endpoints</h2>
<pre><code>GET http:<span class="hljs-regexp">//</span>streamdata.malupdaterosx.moe<span class="hljs-regexp">/search/</span>(region)?q=(search term)
</code></pre><h4 id="parameters">Parameters</h4>
<table>
<thead>
<tr>
<th style="text-align:left">Parameter</th>
<th style="text-align:left">Value</th>
<th style="text-align:left">Required</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">region</td>
<td style="text-align:left"><code>us</code> or <code>ca</code> or <code>uk</code> or <code>ai</code></td>
<td style="text-align:left"><code>true</code></td>
</tr>
<tr>
<td style="text-align:left">q</td>
<td style="text-align:left">Title (URL Encoded)</td>
<td style="text-align:left"><code>true</code></td>
</tr>
</tbody>
</table>
<h4 id="example">Example</h4>
<pre><code>[GET] http:<span class="hljs-regexp">//</span>streamdata.malupdaterosx.moe<span class="hljs-regexp">/search/u</span>s?q=Kandagawa%<span class="hljs-number">20</span>Jet%<span class="hljs-number">20</span>Girls
</code></pre><h5 id="response">Response</h5>
<pre><code>{
  <span class="hljs-attr">"data"</span>: [
    {
      <span class="hljs-attr">"mal_id"</span>: <span class="hljs-number">40196</span>, 
      <span class="hljs-attr">"regionname"</span>: <span class="hljs-string">"us"</span>, 
      <span class="hljs-attr">"sitename"</span>: <span class="hljs-string">"vrv-hidive"</span>, 
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"Kandagawa Jet Girls"</span>, 
      <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://vrv.co/series/GYW4N30E6"</span>
    }, 
    {
      <span class="hljs-attr">"mal_id"</span>: <span class="hljs-number">40196</span>, 
      <span class="hljs-attr">"regionname"</span>: <span class="hljs-string">"us"</span>, 
      <span class="hljs-attr">"sitename"</span>: <span class="hljs-string">"hidive"</span>, 
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"Kandagawa Jet Girls"</span>, 
      <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://www.hidive.com/stream/kandagawa-jet-girls/s01e001"</span>
    }
  ], 
  <span class="hljs-attr">"meta"</span>: {
    <span class="hljs-attr">"count"</span>: <span class="hljs-number">2</span>, 
    <span class="hljs-attr">"query"</span>: <span class="hljs-string">"Kandagawa Jet Girls"</span>, 
    <span class="hljs-attr">"region"</span>: <span class="hljs-string">"us"</span>
  }
}
</code></pre><pre><code>GET http:<span class="hljs-regexp">//</span>streamdata.malupdaterosx.moe<span class="hljs-regexp">/lookup/</span>(region)<span class="hljs-regexp">/(MAL ID)</span>
</code></pre><h4 id="parameters">Parameters</h4>
<table>
<thead>
<tr>
<th style="text-align:left">Parameter</th>
<th style="text-align:left">Value</th>
<th style="text-align:left">Required</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">region</td>
<td style="text-align:left"><code>us</code> or <code>ca</code> or <code>uk</code> or <code>ai</code></td>
<td style="text-align:left"><code>true</code></td>
</tr>
<tr>
<td style="text-align:left">MAL ID</td>
<td style="text-align:left">MyAnimeList Title ID</td>
<td style="text-align:left"><code>true</code></td>
</tr>
</tbody>
</table>
<h4 id="example">Example</h4>
<pre><code>[GET] http:<span class="hljs-regexp">//</span>streamdata.malupdaterosx.moe<span class="hljs-regexp">/lookup/u</span>s<span class="hljs-regexp">/40196</span>
</code></pre><h5 id="response">Response</h5>
<pre><code>{
  <span class="hljs-attr">"data"</span>: [
    {
      <span class="hljs-attr">"mal_id"</span>: <span class="hljs-number">40196</span>, 
      <span class="hljs-attr">"regionname"</span>: <span class="hljs-string">"us"</span>, 
      <span class="hljs-attr">"sitename"</span>: <span class="hljs-string">"vrv-hidive"</span>, 
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"Kandagawa Jet Girls"</span>, 
      <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://vrv.co/series/GYW4N30E6"</span>
    }, 
    {
      <span class="hljs-attr">"mal_id"</span>: <span class="hljs-number">40196</span>, 
      <span class="hljs-attr">"regionname"</span>: <span class="hljs-string">"us"</span>, 
      <span class="hljs-attr">"sitename"</span>: <span class="hljs-string">"hidive"</span>, 
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"Kandagawa Jet Girls"</span>, 
      <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://www.hidive.com/stream/kandagawa-jet-girls/s01e001"</span>
    }
  ], 
  <span class="hljs-attr">"meta"</span>: {
    <span class="hljs-attr">"count"</span>: <span class="hljs-number">2</span>, 
    <span class="hljs-attr">"query"</span>: <span class="hljs-string">"Kandagawa Jet Girls"</span>, 
    <span class="hljs-attr">"region"</span>: <span class="hljs-string">"us"</span>
  }
}
</code></pre><h1 id="license">License</h1>
<p>StreamData is open source and licensed under Apache License 2.0</p>
</body>
</html>